.header{
    position: sticky;
    display: flex;
    align-items: center;
    height: 60px;
    background: #131921;;
    z-index: 100;
    top: 0; 
}

.header__logo{
    width: 100px;
    object-fit: contain;
    margin: 0px 20px;
    margin-top: 18px;
}

.header__search{
display: flex;
flex: 1;   
align-items: center; 
border-radius: 24px;
}
.header__searchInput{
    height: 12px;
    padding: 10px;
    border: none;
    width: 100%;
}
.header__searchIcon{
    padding:5px;
    height: 22px !important;
    background-color: #e2a554;
}

.header__nav{
    display: flex;
    justify-content: space-evenly;
}

.header__option{
    display: flex;
    flex-direction: column;
    margin-left:10px;
    margin-right: 10px;
    color:white;
}

.header__optionLineOne{
font-size: 10px;
}

.header__optionLineTwo{
font-size: 13px;
font-weight: 800;
}

.hearder__optionBasket{
    display:flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.header__optionCount{
 margin-left: 10px;
 margin-right: 10px;
}